<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header" style="flex: 0 0 35px">
        <div class="header-fields">
            <h1 class="charname">
                {{data.name}}
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="ships">{{localize "SIMPLE.Armies"}}</a>
        <a class="item" data-tab="notes">{{localize "SIMPLE.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
			
        {{!-- Ships Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="ships">
			<header class="attributes-header flexrow">
                <span class="attribute-col-fleet">{{localize "SIMPLE.Army.Name"}}</span>
                <span class="attribute-col-fleet">{{localize "SIMPLE.Army.Strength"}}</span>
                <span class="attribute-col-fleet">{{localize "SIMPLE.Army.Morale"}}</span>				
                <span class="attribute-col-fleet">{{localize "SIMPLE.Army.Garrison"}}</span>				
                <span class="attribute-col-fleet"></span>
            </header>
			
            <ol class="item-list">
				{{#each data.items as |item id|}}
					{{#if item.data.isArmy}}
						<li class="item flexrow" data-item-id="{{item._id}}">
							<div class="attribute-col-fleet-lg">
								<h4 class="item-name">{{item.name}}</h4>
							</div>
							<div class="attribute-col-fleet-sm">
								{{item.data.strength}} / {{item.data.max_strength}}
							</div>
							<div class="attribute-col-fleet-sm">
								{{item.data.morale}} / {{item.data.max_morale}}
							</div>
							<div class="attribute-col-fleet-sm">
								{{item.data.garrison}}
							</div>
							<div class="attribute-col-fleet-sm">
								<div class="item-controls">
									<a class="item-control" title="{{ localize "SIMPLE.ArmyEdit" }}" data-action="edit_army"><i class="fas fa-edit"></i></a>
									<a class="item-control" title="{{ localize "SIMPLE.ArmyDelete" }}" data-action="delete_army"><i class="fas fa-trash"></i></a>
								</div>
							</div>
						</li>
					{{/if}}
				{{/each}}
			</ol>
			<p>
                <a class="item-control" title="{{ localize "SIMPLE.ArmyCreate" }}" data-action="create_army"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ArmyCreate" }}</a>
            </p>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="notes">
            {{editor content=systemData.notes target="data.notes" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>