<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">
                {{data.name}}
            </h1>
            <div class="resource">
                <label class="attributes-header">Party Silver</label><br />
                <input type="number" name="data.silver.value" value="{{systemData.silver.value}}"/>
            </div>
            <div class="resource">
                <label class="attributes-header">Current Location</label><br />
                <input type="number" name="data.current_location.value" value="{{systemData.current_location.value}}"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="codes">Codes</a>
        <a class="item" data-tab="vault">Vault</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Codes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="codes">
            <ol class="item-list">
				{{#each data.items as |item id|}}
					{{#if item.data.isCode}}
						<li class="item flexrow" data-item-id="{{item._id}}">
						<h4 class="item-name">{{item.name}}</h4>
						<div class="item-controls">
							<a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit_code"><i class="fas fa-edit"></i></a>
							<a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete_code"><i class="fas fa-trash"></i></a>
						</div>
					{{/if}}
				{{/each}}
			</ol>
			<p>
                <a class="item-control" title="{{ localize "SIMPLE.CodeCreate" }}" data-action="create_code"><i class="fas fa-plus"></i> {{ localize "SIMPLE.CodeCreate" }}</a>
            </p>
        </div>

        {{!-- Owned Items (Vault) Tab --}}
        <div class="tab items" data-group="primary" data-tab="vault">
            <ol class="item-list">
                {{#each data.items as |item id|}}
					{{#if item.data.isItem}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
						<h4 class="item-name">{{item.name}}</h4>
						{{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
						<div class="item-buttons">
							{{#each item.data.attributes as |itemAttr key|}}
							{{#if itemAttr.dtype}}
								{{#if itemAttr.isFormula}}
									{{!-- Use the items.name.key format for shorthand. --}}
									{{#if ../../shorthand}}
									<button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
										title="{{itemAttr.value}}">{{itemAttr.label}}</button>
									{{!-- Use the items.name.attributes.key.value format otherwise. --}}
									{{else}}
									<button class="item-button rollable"
										data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
										title="{{itemAttr.value}}">{{itemAttr.label}}</button>
									{{/if}}
								{{/if}}
							{{else}}
								{{#each itemAttr as |itemGroupedAttr groupedKey|}}
									{{#if itemGroupedAttr.isFormula}}
										{{!-- Use the items.name.key format for shorthand. --}}
										{{#if ../../../shorthand}}
										<button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
											title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
										{{!-- Use the items.name.attributes.key.value format otherwise. --}}
										{{else}}
										<button class="item-button rollable"
											data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
											title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
										{{/if}}
									{{/if}}
								{{/each}}
							{{/if}}
							{{/each}}
						</div>
						<div class="item-controls">
							<a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
							<a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/if}}
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="notes">
            {{editor content=systemData.notes target="data.notes" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>