<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname">
                {{data.name}}
            </h1>
            <div class="resource">
                <label class="attributes-header">{{localize "SIMPLE.Party.Silver"}}</label><br />
                <input type="number" name="data.silver.value" value="{{systemData.silver.value}}"/>
            </div>
            <div class="resource">
                <label class="attributes-header">{{localize "SIMPLE.Party.Location"}}</label><br />
                <input type="number" name="data.current_location.value" value="{{systemData.current_location.value}}"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="codes">{{localize "SIMPLE.Party.Codes"}}</a>
        <a class="item" data-tab="vault">{{localize "SIMPLE.Party.Vault"}}</a>
        <a class="item" data-tab="notes">{{localize "SIMPLE.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Codes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="codes">
            <ol class="item-list">
				{{#each data.items as |item id|}}
					{{#if item.data.isCode}}
						<li class="item flexrow" data-item-id="{{item._id}}">
						<h4 class="item-name">{{item.name}}</h4>
						<div class="item-controls">
							<a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit_code"><i class="fas fa-edit"></i></a>
							<a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete_code"><i class="fas fa-trash"></i></a>
						</div>
					{{/if}}
				{{/each}}
			</ol>
			<p>
                <a class="item-control" title="{{ localize "SIMPLE.CodeCreate" }}" data-action="create_code"><i class="fas fa-plus"></i> {{ localize "SIMPLE.CodeCreate" }}</a>
            </p>
        </div>

        {{!-- Owned Items (Vault) Tab --}}
        <div class="tab items" data-group="primary" data-tab="vault">
			<header class="attributes-header flexrow">
                <span class="attribute-col-fleet-lg" style="width: 17%; flex: unset">{{localize "SIMPLE.Item.ItemName"}}</span>		
				<span class="attribute-col-fleet-lg" style="width: 18%; flex: unset">{{localize "SIMPLE.Item.Weight"}} / {{localize "SIMPLE.Item.Qty"}}</span>					
                <span class="attribute-col-fleet-sm" style="width: 30%; flex: unset">{{localize "SIMPLE.Desc"}}</span>	
                <span class="attribute-col-fleet-sm" style="width: 15%; flex: unset">{{localize "SIMPLE.Item.Atrrib"}}</span>
                <span class="attribute-col-fleet-lg" style="width: 5%; flex: unset">{{localize "SIMPLE.Item.ModVal"}}</span>		
                <span class="attribute-col-fleet-sm" style="width: 15%; flex: unset"></span>
            </header>
            <ol class="item-list">
                {{#each data.items as |item id|}}
					{{#if item.data.isItem}}
					<li class="item flexrow" data-item-id="{{item._id}}">
						<div class="attribute-col-fleet-lg" style="width: 17%; flex: unset">
							<h4 class="item-name">{{item.name}}</h4>
						</div>
						<div class="attribute-col-fleet-lg" style="width: 18%; flex: unset">
							{{item.data.weight}} <span>/</span> {{item.data.quantity}}
						</div>
						<div class="attribute-col-fleet-lg" style="width: 30%; flex: unset">
							{{item.data.description}}
						</div>
						<div class="attribute-col-fleet-lg" style="width: 15%; flex: unset">
							{{item.data.attrib_mod}}
						</div>
						<div class="attribute-col-fleet-lg" style="width: 5%; flex: unset">
							{{item.data.mod_val}}
						</div>
						<div class="item-controls">
							<a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
							<a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/if}}
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="notes">
            {{editor content=systemData.notes target="data.notes" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>