<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header-ship">
        <div class="header-fields-ship">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <label class="attributes-header">{{localize "SIMPLE.Actor.Health"}}</label><br />
                <input type="number" name="data.health" value="{{systemData.health}}"/>
                <span> / </span>
                <input type="number" name="data.max_health" value="{{systemData.max_health}}"/>
            </div>
			<div class="resource">
                <label class="attributes-header">{{localize "SIMPLE.FightingMax"}}</label><br />
                <input type="number" name="data.fighting" value="{{systemData.fighting}}"/>
                <span> / </span>
                <input type="number" name="data.max_fighting" value="{{systemData.max_fighting}}"/>
            </div>
			<br /><br />
			<div class="resource">
				<label class="attributes-header">{{localize "SIMPLE.Fleet.Cargo"}} <span>/</span> {{localize "SIMPLE.Fleet.Cargo_Units"}}</label><br />
				<input type="text" name="data.cargo" value="{{systemData.cargo}}" />
				<span> / </span>
                <input type="number" name="data.cargo_units" value="{{systemData.cargo_units}}"/>
			</div>
			<div class="resource">
				<label class="attributes-header">{{localize "SIMPLE.Party.Location"}}</label><br />
				<input type="text" name="data.location" value="{{systemData.location}}" />
			</div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="notes">{{localize "SIMPLE.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">     
		
		{{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="notes">
            {{editor content=systemData.notes target="data.notes" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>